@font-face {
    font-family: 'Montserrat';
    src: url('path/to/montserrat-regular.woff2') format('woff2'), /* Modern Browsers */
         url('path/to/montserrat-regular.woff') format('woff'); /* Older Browsers */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

nav{
    background-color: #F3F8FE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navLogo{
    padding: 5px 48px;
}
.navTabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tab{
    color: #238FCD;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: 25px 16px 24px 16px;
    cursor: pointer;
}

.tab:hover{
    font-weight: 600;
    border-top: 4px solid #18618b84;
    padding: 21px 16px 24px 16px;
}

.tab1{
    font-weight: 700;
    border-top: 4px solid #18618B;
    padding: 21px 16px 24px 16px;
}

.tab1:hover{
    font-weight: 700;
    border-top: 4px solid #18618B;
    padding: 21px 16px 24px 16px;
}